{% extends "base.html" %}

{% block title %}
Contact
{% endblock title %}

{% block body %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <br>
            <h4 class="text-center bg-success text-white"> Contact details</h4>
            <br>
            <br>

            {% with messages=get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                {{message}}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}

            <form action="/contact" method="post">
                <div class="mb-3">
                    <label for="pet_relation" class="form-label">Pet Relation</label>
                    <input type="text" class="form-control" id="pet_relation" name="pet_relation" required>
                </div>
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" name="name" required>
                </div>
                <div class="mb-3">
                    <label for="contact_id" class="form-label">Contact ID</label>
                    <input type="text" class="form-control" id="contact_id" name="contact_id" required>
                </div>
                <div class="mb-3">
                    <label for="pet_id" class="form-label">Pet ID</label>
                    <input type="text" class="form-control" id="pet_id" name="pet_id" required>
                </div>
                <div class="mb-3">
                    <label for="phone_number" class="form-label">Phone Number</label>
                    <input type="text" class="form-control" id="phone_number" name="phone_number" required>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
{% endblock body %}
